{% extends 'base.html' %}
{%block content%} 
</head>
<div class="mijoz">Firmadagi so'ngi yangiliklar</div>
{% for post in post %}
<div class='mijoz'>
  <p>{{ post.title }}</p>
  <div class="display">
    <div class="img">
      <a href="{% url 'driver:Pic' %}">
      <img class="homepic" src="{{post.image.url}}" alt='Yangilik rasmi!' width="300" height="250"></a>
      <br><ul><ul><button style="margin-left: 35%; margin-top: 0.001%;"> <a href="/{{post.pk}}"> Batafsil...</a></button></ul></ul>
  </div>
    {{ post.discription}} <br>
    
    
  </div>
  
</div>

 {%endfor%}
{%endblock%}